@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    background-color: #009688;
}


.custom-box{
    max-width: 700px;
    background-color: #fff;
    margin:40px  auto;
    padding: 30px;
    border-radius: 10px;
    animation:fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.custom-box::before,
.custom-box::after{
    content: "";
    clear: both;
    display: table;
}


.custom-box.hide{
    display: none;
}

.home-box h3{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
}

.home-box p span{
    font-weight: 500;
}

.btn{
    padding: 15px 45px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn
.quiz-box .answer-indicator{
    width: 100%;
    float: left;
}


.quiz-box .question-number{
    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
    line-height: 25px;
}
.question-text{
    font-size: 22px;
    color: #000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option{
    background-color: #ccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    border-radius:5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform:capitalize ;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

@keyframes slideInLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong{
    color: #fff;
}


.quiz-box .option-container .option.correct{
    color: #fff;
}

.quiz-box .btn{
    margin: 15px 0;
}

.quiz-box .answer-indicator{
    border-top: 1px solid #ccc;
}

.quiz-box .answer-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 10px;
}

.quiz-box .answer-indicator div.correct{
    background-color: green;
    background-image: url(./img/download.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}
.quiz-box .answer-indicator div.wrong{
    background-color: green;
    background-image: url(./img/wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.result-box{
    text-align: center;
}

.result-box.hide{
    display: none;
}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #009688;
}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}


.result-box table td{
    border: 1px solid #ccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}
.result-box .btn{
    margin-right: 20px;
}


.back{
    position: relative;
    width: 100%;
    height: 100px;
    left: 10px;
}

.btn2{
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin:10px;
}